@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$firstColor: #00204a;
$secondColor: #005792;
$thirdColor: #00bbf0;

body, html {
 background: $secondColor;

 font-family: Poppins, century gothic;
 color: white;
}