@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$firstColor: #00204a;
$secondColor: #005792;
$thirdColor: #00bbf0;

*, *::before, *::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body, html {
 

 font-family: Poppins, century gothic;
 color: white;
}

#root {
  background: $secondColor;

  width: 100vw;
  height: 100vh;
}

main {
  display: flex;

  width: 100%;
  height: 100%;

  padding: 1.5%;
}
.list {
  background: $firstColor;

  height: 100%;
  width: 20%;
  min-width: 145px;
  max-width: 250px;

  display: flex;
  flex-direction: column;

  &_elem {
    background: $thirdColor;
    font-size: 1.1em;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    max-height: 68px;

    border: 3px solid white;

    &:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      border-bottom: none;
    } 
  }
}
.content {
  height: 100%;

  width: 80%;
  max-width: 100%;

  background: $firstColor;
}